.appear-enter {
  transition-duration: 1s;
  transition-property: opacity;
  transition-timing-function: ease-out;
  opacity: 0;
}

.appear-enter.appear-enter-active {
  opacity: 1;
}

.appear-leave {
  opacity: 0;
}

ul {
  list-style: none;
}

.listImage {
  vertical-align: middle;
  display: block;
  margin: auto;
  padding-bottom: 15px;
}

div#listComponent {
    border-bottom: 1px solid #ccc;
    padding: 15px;
    margin: 24px;
    text-align: center;
    width: 80%;
}

.menu:hover {
  background-color: red;
}
