.appear-enter {
  transition-duration: 1s;
  transition-property: opacity;
  transition-timing-function: ease-out;
  opacity: 0;
}

.appear-enter.appear-enter-active {
  opacity: 1;
}

.appear-leave {
  opacity: 0;
}

ul {
  list-style: none;
}

.listImage {
  vertical-align: middle;
  display: block;
  margin: auto;
  padding-bottom: 15px;
}

div#listComponent {
    border-bottom: 1px solid #ccc;
    padding: 15px;
    margin: 24px;
    text-align: center;
    width: 100%;
}

form.formComponent {
    border: 1px solid #ccc;
    padding: 15px;
    margin: 24px;
    text-align: center;
    width: 100%;
}

.j-button {
  border: 0;
  background-color: #4ba8dc;
  text-decoration: none;
  color: #fff;
  padding: 8px 16px;
  border-radius: 4px;
  transition: background-color 500ms;
  white-space: nowrap;
  display: inline-block;
  line-height: 1.5;
  font-size: 14px;
  font-weight: 400;
}

div#menu-footer {
  position: fixed;
  left: 0px;
  bottom: 0px;
  height: 50px;
  width: 100%;
  background: #f2f2f2;
  margin: auto 0;
  display: flex;
}

.menu-btn {
background-color: #4ba8dc;

  /*  display: block;
  margin: auto;
  padding: 15px;
  color: white;*/

  height: 50px;
  text-align: center;
  display:inline-block;;
}